<% @all_posts.each do |post| %>
<h2><a href="/posts/<%=post.id%>"><%= post.title %></a></h2>
<p>written by <%= post.author %> on <%= post.updated_at.to_formatted_s(:long) %></p>
<p><%= post.description %></p>
<p><a href="/posts/<%=post.id%>/comments"><%= post.comments.length %> comments</a></p>
<% end %>
