<% @all_posts.each do |post| %>
<h2><%= link_to post.title, post %></h2>
<p>written by <%= post.author %> on <%= post.updated_at.to_formatted_s(:long) %></p>
<p><%= post.description %></p>
<p><%= link_to "#{post.comments.length} comments", post_comments_path(post) %></p>
<% end %>
